/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* COMMON SECTION */

body {
  background-color:#d1e0ee;
  display: block;
  margin: 8px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.card-white {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.127);
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 20px;
}

/* NEW SECTION */

ul {
  list-style: none;
  text-transform: uppercase;
  color:rgb(255, 255, 255);
  font-size: 30px;
}

li {
  background-color: #5ea0f0;
  width: 45px;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: inline-block;
}

/* SCORE SECTION */

.url {
  font-style: italic;
  text-align: right;
}
